.profile-details {
  display: grid;
  grid-template-rows: repeat(6, 20px);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style: none;
  color: #333;
  font-size: 14px;
  transform: translate(-30px, -10px);
}

.social-profile-info {
  transform: translate(0px, -4px);    
}
  
.icon {
  fill: #f15c00;
}
  
.level {
  color: #f15c00;
  font-weight: bold;
  transform: translate(-8px, 5px);  
}

.info-text {
  color: #666;
  font-size: 12px;
}